{% extends 'base.html'%}

{% block content %}

<div class="container">

<div class="row">


  <div class="col-md-4">
    <h3> {{current_user.username| capitalize}} </h3>

    {% if current_user.bio %}
      <p> {{current_user.bio}}</p>

    {%else%}
      <p> {{current_user.username| capitalize}} has no bio </p>
    {% endif %}
    <div>
      <h4>Your pitches</h4>
      <ul>
        {% for pitch in pitches_content %}
        <li class="card">{{pitch.content}}</li>
        {% endfor %}
      </ul>
    </div>

    {% if current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if current_user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>

    {% endif %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">

    </form>
  </div>
</div>
</div>
{% endblock %}